body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    background-color: #B7E7EF;
    margin: 0%;

}

a {
    text-decoration: none;
    color: #4B6F75;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-top: 1%;

}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;

}

/* Menu */
img {
    max-width: 100%;
    display: block;
}


/* Controle do Background */
.image {
    background-image: url("/assets/image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    height: 85vh;
    position: relative;
    display: flex;

}

/* Controle da frase */
.card {

    width: 20%;
    background-color: #ffffff36;
    border-radius: 10px;
    padding: 1rem 2rem;
    text-align: right;
    font-size: 1rem;
    margin: auto auto;

}

#menuMobile{
    display: none;
}

/* Responsividade Mobile */
@media (max-width:430px) {
    .container {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    } 
    header {
        margin: 0 10%;
        flex-direction: row-reverse;
    }
    nav {
        width: 0;
        visibility: hidden;
    }
    .logo{
        display: flex;
        justify-content: center; 
    }.image{
        height: 65vh;
    }#menuMobile{
        size: 10px;
        display: block;
        };
    
}
.card {
    border: 0.74px solid;
    border-image-source: linear-gradient(106.41deg, rgba(255, 255, 255, 0.74) 14.66%, rgba(122, 184, 193, 0.51) 
    40.34%, rgba(139, 206, 217, 0.47) 65.63%, rgba(144, 214, 225, 0.69) 90.52%);
    background: linear-gradient(109.58deg, rgba(255, 255, 255, 0.4) 12.81%, rgba(255, 255, 255, 0.1) 75.74%);
    box-shadow: 0px -0.7425373196601868px 12.25186538696289px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 150px;
    position: relative;
    bottom: -200px;
    text-align: center;
    flex-direction: column;
    /* Manter fixo */
    transform: translate(-0%,-15%);

}